/*General Styling*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1.5rem;
  text-align: center;
}

.container-margin {
  margin: 25rem 0rem;
}

a {
  text-decoration: none;
  color: #333;
}

.btn-my-dashboared:link {
  display: inline-flex;
  padding: 1rem 1.3125rem;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;

  text-decoration: none;
  color: #333;
  border-radius: 0.375rem;
  border: 2px solid linear-gradient(88deg, #e9d022 -11.09%, #e60b09 122.28%);
}

.btn-my-dashboared:visited {
  color: #000;
  text-decoration: none;
  border: 2px solid linear-gradient(88deg, #e9d022 -11.09%, #e60b09 122.28%);
}

.btn-my-dashboared:hover {
  color: #000;
  border: 2px solid linear-gradient(88deg, #e9d022 -11.09%, #e60b09 122.28%);
}

.btn-my-dashboared:active {
  color: #000;
}

/*Button -> Dashboard & Start Design + Hover Effect*/
#containerButton1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "main";
  align-items: center;
  justify-items: center;
}
#containerButton1 button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 12rem;
  height: auto;
  margin: 1.5em;
}

#containerButton1 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

#containerButton1 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

#containerButton1 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

#containerButton1 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

#containerButton1 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

#containerButton1 button.learn-more:hover .circle {
  width: 100%;
}

#containerButton1 button.learn-more:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

#containerButton1 button.learn-more:hover .button-text {
  color: #fff;
}



#containerButton1 {
  grid-area: main;
  align-self: center;
  justify-self: center;
}



/* HEAD */

h1 {
  font-family: Roboto;
  font-size: 6.6875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.13375rem;

  background: linear-gradient(85deg, #40c9ff -17.96%, #e81cff 153.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.head-description {
  margin-top: 2rem;
  display: inline-flex;
  flex-direction: column;
  height: 5.125rem;
  padding: 0.625rem;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
  flex-shrink: 0;
}

.head-description p {
  width: 37.75rem;

  color: #000;
  font-family: Digital Sans Trial;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.02rem;
}


/* Our Customers */
.our-customers {
  margin-top: 30rem;

  display: flex;
  width: 77.25rem;
  padding: 8.75rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;

  border-radius: 1.875rem;
  border: 4px solid var(--Linear-Gradient-Blue-Purple, #40c9ff);
}

.customer-figure {
  display: flex;
  padding: 0rem 1.375rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 3.125rem 8.875rem;
  align-self: stretch;
  flex-wrap: wrap;
}

.customer-figure p {
  width: 12.625rem;

  color: #000;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.customer-figures {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
}

/*Our Services*/

.our-services {
  margin-top: 30rem;
}

.our-services-description {
  margin-top: 2rem;

  display: flex;
  width: 64rem;
  padding: 1.625rem 0.8125rem;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
}

.our-services-description p {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.our-services-container {
  display: flex;
  padding: 0rem 0.5625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 4.1875rem;
  align-self: stretch;
}

.our-services-IaaS {
  font-size: 10.66rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  background: var(
    --Linear-Gradient-Blue-Purple,
    linear-gradient(85deg, #40c9ff -17.96%, #e81cff 153.77%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Our Prices*/

.our-prices {
  margin-top: 30rem;
}

.our-prices-description {
  display: flex;
  width: 64rem;
  padding: 1.625rem 0.8125rem;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
}

.our-prices-description p {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.our-prices-calculater {
  display: flex;
  align-items: center;
  gap: 15.0625rem;
  justify-content: space-between;
}

.our-prices-text-fields {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 3.5rem;
}

.our-prices-text-field {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  text-align: left;
}

.our-prices-text-field p {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 1rem;
}

.our-prices-text-field-container {
  display: flex;
  border-radius: 0.75rem;
  padding: 1.125rem 2.5rem 1.125rem 0.625rem;
  gap: 1.25rem;
  align-items: center;
  align-self: stretch;
}

.our-prices-charge {
  background: var(
    --Linear-Gradient-Blue-Purple,
    linear-gradient(85deg, #40c9ff -17.96%, #e81cff 153.77%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: Inter;
  font-size: 10.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

input[type="number"] {
  padding: 0.625rem 0.625rem 0.625rem 1.25rem;
  border-radius: 0.5rem;
  border: solid 2px #e5e5e5;
}

input[type="number"]:focus {
  outline: none;
}

.our-prices-submit-button {
  display: inline-flex;
  padding: 1rem 1.3125rem;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;

  background: var(
    --Linear-Gradient-Yellow-Red,
    linear-gradient(88deg, #e9d022 -11.09%, #e60b09 122.28%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.02625rem;

  border: none;
}

.our-prices-submit-button:hover {
  cursor: pointer;
}

/* CTA button */

.cta-button-container {
  margin-top: 30rem;
}

.cta-button {
  font-size: 10rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.02625rem;
  background: var(
    --Linear-Gradient-Yellow-Red,
    linear-gradient(88deg, #e9d022 -11.09%, #e60b09 122.28%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Provisioning*/

.container-margin-provisioning {
  margin: 10rem 0rem;
}

.provisioning-title {
  font-size: 3.2375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.09713rem;

  background: var(
    --Linear-Gradient-Yellow-Red,
    linear-gradient(88deg, #e9d022 -11.09%, #e60b09 122.28%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.provisioning-section-container {
  margin-top: 6rem;
  border-radius: 1.5rem;
  border: 4px solid var(--Linear-Gradient-Yellow-Red, #e9d022);
}

.provisioning-checkbox-label-container {
  display: flex;
  gap: 2rem;
  align-items: baseline;
  padding: 1rem 1.5rem;
}
.provisioning-checkbox-label-container label {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.0375rem;
}

.provisioning-section-container-padding {
  padding: 2.5rem 2.5rem 0rem 2.5rem;
}

.provisioning-container-options {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.provisioning-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.provisioning-total-price-container p {
  font-family: Inter;
  font-size: 10.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  background: var(
    --Linear-Gradient-Yellow-Red,
    linear-gradient(88deg, #e9d022 -11.09%, #e60b09 122.28%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.confirm-button-container {
  display: inline;
  text-align: end;
  margin: 3rem 0rem;
}

.confirm-button-container button {
  display: inline-flex;
  padding: 1rem 1.3125rem;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;

  border-radius: 0.375rem;

  border: 2px solid var(--Linear-Gradient-Yellow-Red, #e9d022);

  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.0375rem;

  background: var(
    --Linear-Gradient-Yellow-Red,
    linear-gradient(88deg, #e9d022 -11.09%, #e60b09 122.28%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*Dashbaored*/
.dashboared-title {
  font-family: Inter;
  font-size: 3.2375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.09713rem;

  background: var(
    --Linear-Gradient-Red-to-Orange,
    linear-gradient(89deg, #f3696e -1.7%, #f8a902 103.62%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.provisioning-total-price-container {
  display: inline;
  text-align: end;
}

.provisioning-bottom-container {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  padding: 4rem;
}

.confirm-button-container input:hover {
  cursor: pointer;
}

.confirm-button-container input {
  display: inline-flex;
  padding: 1rem 1.3125rem;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;

  background: var(
    --Linear-Gradient-Yellow-Red,
    linear-gradient(88deg, #e9d022 -11.09%, #e60b09 122.28%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.02625rem;

  border: none;
}
